.nav {
   grid-area: n;
   background-color: burlywood;
   padding: 20px;
   width :100px
 }

 .item a {
    color: white;
    text-decoration: none;
 }
 .item a.activeLink {
    color: gold;
 }
 
 .item a.activetedLink {
    color: red
 }

 .item .friendsBtn {
     color : Green;
     position : absolute;
     top :300px
 }