 .content {
    width: 1266px;
    height: 738px;
  } 
  
  .mainPhoto {
      width: 1266px;
      height: 200px;
  }
   
  .descriptionBlock {
      padding: 10px;
  }
  .descriptionBlock img{
    width:70px;
    height:70px;
    
    border-radius: 50px;
  }
  .descriptionBlock .aboutMe {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .descriptionBlock .job img {
      width : 40px;
      height : 40px;
  }